@import "../base/mixins";

.selling
{

  &__toggle
  {

    h1
    {
      svg
      {
        //max-width: 252px;
        margin-left: 15px;
        // 1560px
        @media (max-width: $screen-xl-min)
        {
          //max-width: 210px;
          //transform: translateY(-1.5px);
        }
        // 520px
        @media (max-width: $screen-mdsm-min)
        {
          //max-width: 100px;
          margin-left: 8px;
        }
      }
    }
  }

  &__slider
  {

    &.active
    {
      position: relative;
      z-index: 20;
      opacity: 1;
    }

    &.disabled
    {
      position: absolute;
      z-index: -20;
      opacity: 0;
    }

    &__img
    {
      width: 100%;

      &__bg-1
      {
        background: url("../assets/img/selling-slider-bg.png");
        width: 100%;
        height: 100%;
      }

      &__bg-2
      {
        background: url("../assets/img/selling-slider-bg-2.png");
        width: 100%;
        height: 100%;
      }

      &__bg-3
      {
        background: url("../assets/img/selling-slider-bg-3.png");
        width: 100%;
        height: 100%;
      }

      &__images__toggle-1
      {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .toggle-div
        {

          &.op-0
          {
            opacity: 0;
          }
        }

        &.row
        {
          display: block;
        }


        & div
        {

          z-index: 20;
          margin-bottom: 17px;

        }

        &__selling-1-parent
        {
          width: 152%;
          height: 31%;

          max-width: 940px;
          max-height: 353px;

          transform: translateX(-20px);

          &.animate
          {
            animation: leftToRightHorizontalSelling-1 .8s;


          }
        }

        &__selling-1
        {

          width: 100%;
          height: 100%;


          background: url("../assets/img/selling-toggle-1.png") no-repeat left !important;
          background-size: cover !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }

        }

        &__selling-2-parent
        {
          width: 152%;
          height: 31%;

          max-width: 940px;
          max-height: 353px;

          transform: translateX(-60px);

          &.animate
          {
            animation: leftToRightHorizontalSelling-1 .8s;
          }
        }

        &__selling-2
        {
          width: 100%;
          height: 100%;

          transform: translateX(-40px);

          background: url("../assets/img/selling-toggle-2.png") no-repeat left !important;
          background-size: cover !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }
        }

        &__selling-3-parent
        {
          width: 143%;
          height: 61%;

          max-width: 900px;
          max-height: 654px;

          &.animate
          {
            animation: leftToRightHorizontalSelling-2 .8s;
          }
        }

        &__selling-3
        {
          width: 100%;
          height: 100%;


          background: url("../assets/img/selling-toggle-3.png") !important;
          background-size: cover !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }
        }

        &__selling-4-parent
        {
          width: 130%;
          height: 75%;

          max-width: 798px;
          max-height: 776px;

          &.animate
          {
            animation: leftToRightHorizontalSelling-3 .8s;
          }
        }

        &__selling-4
        {
          width: 100%;
          height: 100%;


          background: url("../assets/img/selling-toggle-4.png") !important;
          background-size: cover !important;


          canvas
          {
            width: 100% !important;
            height: 100% !important;
          }
        }

      }
    }

  }
}

.mob-selling
{
  &__slider
  {
    &__img
    {
      img
      {
      }

      &__images__toggle-1
      {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        & div
        {

          z-index: 20;
          margin-bottom: 17px;

        }

        .selling__slider__img__images__toggle-1
        {

          &__selling-1-parent
          {
            width: 152%;
            height: 31%;

            max-width: 940px;
            max-height: 353px;

            transform: translateX(0px);

            &.animate
            {
              animation: leftToRightHorizontalSelling-1 .8s;


            }
          }

          &__selling-1
          {

            width: 100%;
            height: 100%;


            background: url("../assets/img/selling-toggle-1.png") no-repeat left !important;
            background-size: cover !important;


            canvas
            {
              width: 100% !important;
              height: 100% !important;
            }

          }

          &__selling-2-parent
          {
            width: 152%;
            height: 31%;

            max-width: 940px;
            max-height: 353px;

            transform: translateX(-40px);

            &.animate
            {
              animation: leftToRightHorizontalSelling-1 .8s;
            }
          }

          &__selling-2
          {
            width: 100%;
            height: 100%;


            background: url("../assets/img/selling-toggle-2.png") no-repeat left !important;
            background-size: cover !important;
            transform: translateX(0);

            canvas
            {
              width: 100% !important;
              height: 100% !important;
            }
          }

          &__selling-3-parent
          {
            width: 143%;
            height: 61%;

            max-width: 732px;
            max-height: 434px;

            &.animate
            {
              animation: leftToRightHorizontalSelling-2 .8s;
            }
          }

          &__selling-3
          {
            width: 100%;
            height: 100%;


            background: url("../assets/img/selling-toggle-3.png") no-repeat !important;
            background-size: cover !important;


            canvas
            {
              width: 100% !important;
              height: 100% !important;
            }
          }

          &__selling-4-parent
          {
            width: 130%;
            height: 75%;

            max-width: 798px;
            max-height: 776px;

            &.animate
            {
              animation: leftToRightHorizontalSelling-3 .8s;
            }
          }

          &__selling-4
          {
            width: 100%;
            height: 100%;


            background: url("../assets/img/selling-toggle-4.png") no-repeat left !important;
            background-size: cover !important;


            canvas
            {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
    }
  }
}

@keyframes leftToRightHorizontalSelling-1
{
  from
  {
    overflow: hidden;
    height: 31%;
    width: 0;
  }
  to
  {
    overflow: hidden;
    width: 152%;
    height: 31%;
  }
}


@keyframes leftToRightHorizontalSelling-2
{
  from
  {
    overflow: hidden;
    height: 61%;
    width: 0;
  }
  to
  {
    overflow: hidden;
    width: 143%;
    height: 61%;
  }
}


@keyframes leftToRightHorizontalSelling-3
{
  from
  {
    overflow: hidden;
    height: 75%;
    width: 0;
  }
  to
  {
    overflow: hidden;
    width: 130%;
    height: 75%;
  }
}